services:
  whisperx-api-server-cuda:
    image: whisperx-api-server-cuda
    build:
      context: .
      dockerfile: Dockerfile.cuda
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8000/healthcheck || exit 1"]
    command: uvicorn --factory whisperx_api_server.main:create_app
    ports:
      - 8000:8000
    volumes:
      - hugging_face_cache:/home/ubuntu/.cache/huggingface
      - torch_cache:/home/ubuntu/.cache/torch
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
  whisperx-api-server-cpu:
    image: whisperx-api-server-cpu
    build:
      context: .
      dockerfile: Dockerfile.cpu
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8000/healthcheck || exit 1"]
    command: uvicorn --factory whisperx_api_server.main:create_app
    ports:
      - 8000:8000
    volumes:
      - hugging_face_cache:/home/ubuntu/.cache/huggingface
      - torch_cache:/home/ubuntu/.cache/torch
volumes:
  hugging_face_cache:
  torch_cache: